<!-- <div class="container col-lg-6">
  <h1 class="text-center">Register</h1>
  <div class="card">
    <div class="card-body">
      <form class="form-group" (ngSubmit)="userRegister()">
  
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">UserName</label>
            <input type="text" class="form-control" id="username" name="username" [(ngModel)]="user.username" placeholder="enter username">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" [(ngModel)]="user.first_name" placeholder="enter your firstname">
          </div>
          <div class="mb-3">
            <label for="exampleF
            ormControlInput3" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" [(ngModel)]="user.last_name" placeholder="enter your lastname">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput4" class="form-label">Address</label>
            <input type="text" class="form-control" id="address"name="address" [(ngModel)]="user.address" placeholder="enter your address">
          </div>
          <div class="mb-3">
            <label for="telephone" class="form-label">Telephone</label>
            <input type="text" class="form-control" id="telephone" name="telephone" [(ngModel)]="user.telephone" placeholder="enter your telephone number">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" placeholder="enter password">
          </div>
          <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            <input type="text" class="form-control" id="role" name="role" [(ngModel)]="user.role" placeholder="enter role">
          </div>
          <button type="submit" class="btn btn-primary" >Register</button>

        </form>
</div></div>
</div> -->
